<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap w/ Parcel</title>
    <link rel="stylesheet" href="scss/styles.scss">
    <script type="module" src="js/main.js"></script>
  </head>
  <body>
  <div class="container pt-5 text-center">
    <h1>Pricing Plan</h1>
    <div class="row p-5">
      <div class="col m-6">
        <div class="card">
          <div class="card-header text-light bg-dark">
            <p class="fs-4">Startup</p>
            <p class="fs-4 fw-bold">$9.90</p>
          </div>
          <div class="card-body bg-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-stack mt-3 mb-2 text-primary" viewBox="0 0 16 16">
              <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z"/>
              <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z"/>
            </svg>
            <h6>For medium compagnies</h6>
            <p class="card-text pt-4">10h of support</p>
            <p class="card-text">40mb of storage</p>
            <p class="card-text pb-5">Subdomain</p>
            <a href="#" class="btn btn-danger mb-5 ">Choose Plan</a>
          </div>
        </div>
      </div>
      <div class="col  m-6 ">
        <div class="card">
          <div class="card-header text-light bg-dark">
            <p class="fs-4">Standar</p>
            <p class="fs-4 fw-bold">$19.90</p>
          </div>
          <div class="card-body bg-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-display mt-3 mb-2 text-danger" viewBox="0 0 16 16">
              <path d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75c.167-.333.25-.833.25-1.5H2s-2 0-2-2V4zm1.398-.855a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145z"/>
            </svg>
            <h6>For medium compagnies</h6>
            <p class="card-text pt-4">10h of support</p>
            <p class="card-text">40mb of storage</p>
            <p class="card-text pb-5">Subdomain</p>
            <a href="#" class="btn btn-danger mb-5">Choose Plan</a>
          </div>
        </div>
      </div>
      <div class="col m-6 ">
        <div class="card">
          <div class="card-header text-light bg-dark">
            <p class="fs-4">Business</p>
            <p class="fs-4 fw-bold">$29.90</p>
          </div>
          <div class="card-body bg-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-seam mt-3 mb-2 text-warning" viewBox="0 0 16 16">
              <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
            </svg>
            <h6>For medium compagnies</h6>
            <p class="card-text pt-4">10h of support</p>
            <p class="card-text">40mb of storage</p>
            <p class="card-text pb-5">Subdomain</p>
            <a href="#" class="btn btn-danger mb-5">Choose Plan</a>
          </div>
        </div>
      </div>
  </div>

  </body>
</html>